<ion-view view-title="ANASAYFA">
  <ion-content>
 	<div class="list card">

		 

		  <div class="item item-image">
		    <img src="img/ef_logo.png">
		  </div>

		 
		</div>

 		<center>
  			<img src="img/arkaplan4.png">
  		</center>
  		

 	<div>
 	 <a class="item item-avatar" href="#http://www.omu.edu.tr/tr">
      <img src="img/omu_logo.jpg">
      <p>Omü Resmi Sayfası</p>
    </a>
     <a class="item item-avatar" href="#http://www.omu.edu.tr/tr">
      <img src="img/logo.png">
      <p>Omü Herbaryum Sayfası</p>
    </a>
 	</div>
  </ion-content>
</ion-view>
