<ion-view view-title="SONUC">

 <ion-content>
<div ng-app="myApp" , ng-controller="herbaryumCtrl" > 

  <ion-item ng-repeat="x in myData">
   <ion-list>
   <label class="item item-input">
          <span class="input-label">Bitki ID </span>
           {{x.ID}}
           </label>

          <label class="item item-input">
          <span class="input-label">Familya</span>
        {{x.FAMILYA}}
          </label>

          <label class="item item-input">
          <span class="input-label">Cins </span>
             {{x.CINS}}
          </label>

          <label class="item item-input">
          <span class="input-label">Tür</span>
           {{x.TUR}}
          </label>

          <label class="item item-input">
          <span class="input-label">Bölge</span>
            {{x.BOLGE}}
          </label>

          <label class="item item-input">
          <span class="input-label">Bulan Kişi</span>
            {{x.BULAN_KISI}}
          </label>

          <label class="item item-input">
          <span class="input-label">Tanımlayan Kişi </span>
            {{x.TANIMLAYAN_KISI}}
          </label>
          
          <label class="item item-input">
          <span class="input-label"> Açıklama </span>
             <textarea >{{x.ACIKLAMA}}</textarea>
          </label>

          
          
         

         

        </ion-list>
  </ion-item>
  </div>
  </ion-content>
</div>