<ion-view view-title="SONUC">
  <ion-content>
  <div class="item item-thumbnail-left">
    
      <img src="u937203851_proje.rAdi"><br>
      <label >
          <span class="input-label">Bitki Kod Adı</span>
          <p>{{u937203851_proje.hid}}</p>
        </label>

  </div>
  </div>
      <label class="item item-input">
          <span class="input-label">Bitkinin Familyası</span>
          <p>{{u937203851_proje.fid}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Bitkinin Türü</span>
          <p>{{u937203851_proje.tur}}</p>
        </label>
      <label class="item item-input">
          <span class="input-label">Bulunduğu Bölge</span>
          <p>{{u937203851_proje.bolge}}</p>
        </label>
      <label class="item item-input">
          <span class="input-label">Bulan Kişi</span>
          <p>{{u937203851_proje.bKisi}}</p>
        </label>
      <label class="item item-input">
          <span class="input-label">Tanımlayan Kişi</span>
          <p>{{u937203851_proje.tKisi}}</p>
        </label>
     <label class="item item-input">
          <span class="input-label">Açıklaması</span>
          <p>{{u937203851_proje.aciklama}}</p>
        </label>
      </ion-content>
</ion-view>